.project {
  margin-top: 5%;
  color: white;
}

.project-intro {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(97, 0, 148, 0.3);
  padding: 5% 20%;
}

.project-intro h1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: xx-large;
}

.project-intro p {
  font-size: x-large;
  text-align: center;
}


.project-intro img {
  width: 50%;
  box-shadow: 18px 20px 15px 20px rgba(0, 0, 0, 0.3);
}

.project-intro button {
  margin: 5%;
  font-size: large;
  box-shadow: 6px 7px 16px 6px rgba(0, 0, 0, 0.3);

}


.project-overview,
.project-rest {
  padding: 0 25%;
}

.project-overview h2,
.project-rest h2 {
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 3rem;
}

.project-overview p,
.project-rest p {
  white-space: pre-line;
  
  font-size: 1.8rem;
  line-height: 1.7;
  margin-bottom: 2rem;
  color: #ccc;
}

.bold {
  font-weight: bold;
}

@media (max-width: 800px) {

  .project-overview,
  .project-rest {
    padding: 10% 10%;
  }

  .project-overview p,
  .project-rest p {
    font-size: 1rem;

  }

  .project-intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(97, 0, 148, 0.3);
    padding: 15% 20%;
  }
}

.project-rest ul {
  list-style: none;
  padding: 0;
}

.project-rest li {
  display: inline-block;
  margin: 10px;
  padding: 8px 12px;
  background-color: rgba(97, 0, 148, 0.7);
  border: 1px solid #dddddd;
  border-radius: 5px;
  cursor: not-allowed;
  color: #888;
}