body {
  background-color: #150050;
  font-family: "Pathway Gothic One";

}

.nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  top: -100px;
  transition: top 1s ease;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #150050;
  height: 50px;
  color: #fff;
}

.navbar-right {
  padding-left: 20px;
  display: flex;
  justify-items: center;

}

.navbar-right a,
.navbar-right-dropdown a {
  font-size: 2.5vw;
  font-weight: bold;
  padding-left: 30px;
  text-decoration: none;
  color: #fff;
  
}


.navbar-right-dropdown {
  display: none;
}


.visible {
  display: none !important;
}

.menu-icon {
  display: none;
}

.navbar-right a:hover {
  color: #610094;
  text-decoration: underline;
}


.active {
  color: #610094 !important;
  text-decoration: line-through !important;
}

@media (max-width: 1200px) {

  .navbar-right {
    display: none;
  }

  .menu-icon {
    display: flex;

  }

  .navbar-right-dropdown {



    font-size: 2.5vw;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    background-color: #0C134F;
    margin: 5px;
    padding: 10px;
  }

  .navbar-right-dropdown a:hover {

    color: aqua;
    text-decoration: underline;
  }
}


.logo {
  width: 80px;
  height: 70px;
  border-radius: 50%;
}

.logo1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;

}

.logo2 {
  width: 80px;
  height: 80px;
  border-radius: 10%;
  background-color: #610094;

}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.social-icon {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

.background-container {
  position: relative;
  background-image: url("/public/background imag 1.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-overlay {
  position: relative;
  z-index: 1;

  text-align: center;
  color: #fff;
  padding: 20px;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
}

.background-container::before {
  content: "";
  background: linear-gradient( rgba(21, 0, 80, 1), rgba(97, 0, 148, 0), rgba(21, 0, 80, 1));
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}



.text-overlay h1 {
  font-size: 10rem;
  margin: 10px;

}

.text-overlay p {
  font-size: 2rem;
}




.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 5;
}

.left {
  flex: 1;
  text-align: left;
}

.center {
  flex: 1;
  text-align: center;
}

.right {
  padding-right: 30px;
  flex: 1;
  text-align: right;
}

.right a {
  text-decoration: none;
  color: wheat;
  font-weight: bold;

}

.scroll-to-top {

  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  background-color: wheat;


}

.center {
  flex: 1;
  text-align: center;
  position: relative;
}

.scroll-to-top {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.arrow-to-top {
  background-color: black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;

}


.projects-grid {
  background: linear-gradient(to bottom,
  rgb(21, 0, 80) 0%,
  rgb(97, 0, 148) 10%,
  rgb(97, 0, 148) 90%,
  rgb(21, 0, 80) 100%);
  width: 100%;
}



.header_projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 20px;

}

.line {
  width: 100%;
  border-top: 2px solid #661111;
  position: relative;
  top: 50%;
  z-index: 0;
}

.header_projects h3 {
  width: 50%;
  color: white;
  padding: 10px 20px;
  border: 2px solid #661111;
  border-radius: 5px;
  font-size: 24px;
  margin-bottom: 10px;
  z-index: 1;
}



.container {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.box {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f0f0f0;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.2s;
  cursor: pointer;
}

.box:hover {
  transform: scale(1.05);
}

.image-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.box a {
  text-decoration: none;
  color: #0074e1;
  transition: color 0.2s;
}

.box a:hover {
  color: #0055a5;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.box:hover .overlay {
  opacity: 1;

}

.overlay p {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}





.footer_projects {
  text-align: center;
  padding: 20px;
  margin-bottom: 50px;
}

.footer_projects p {
  margin: 0;
  color: white;
}

.footer_projects a {
  text-decoration: none;
  color: white;
  transition: color 0.2s;
}

.footer_projects a:hover {
  color: #0055a5;
}







.intro_to_contact {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.intro_to_contact img {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #ccc;
}


.intro_to_contact .line {
  width: 100%;
  border-top: 2px solid #661111;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
}


.text {
  display: flex;
  justify-content: center;
  color: #fff;
  margin: 20px;
}


.contact_section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 400px;
  margin-bottom: 100px;
}

.contact_form {
  width: 600px;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.contact_form h2 {
  margin: 0 0 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  width: 100%;
  flex: 1;
  margin-bottom: 20px;
}

textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;

}

label {
  display: block;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
}

input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}



button {
  background-color: #0074e1;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0055a5;
}





.content {
  color: #f0f0f0;
  margin-top: 100px;
}

.content-left {
  width: 50%;
  align-items: center;
  margin-left: 10%;
  

}


.btn-cv {
  position: absolute;
  left: 70%;
  top: 90%;
}

.btn-cv a {
  text-decoration: none;
  color: blanchedalmond;
}


.about-header {

  font-size: 200px;
  margin: 0;

}

.about-h3 {
  font-size: 30px;

}

.about-p {
  margin-top: 50px;
  font-size: 20px;
  margin-bottom: 8%;
  margin-right: 80px;


}

.img1 {

  position: absolute;
  width: 30%;
  left: 60%;
  top: 20%;
  z-index: 0;
  border-radius: 25%;

  height: 60%;
}

.next {
  
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.next p {
  margin: 0;
}

.skils {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 200px;
  color: #f0f0f0;
  flex-direction: row;
  border-left: 1px solid #ccc; 
  border-right: 1px solid #ccc; 
  margin-left: 30px;
  margin-right: 30px;
  padding: 10px;

}


.table-skills,
.random {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  
  margin-left: 10%;

}

.random {
  height: 400px;
  width: 60%;
  margin-left: 20%;
}

.development{
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  width: 30%;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #ccc; 
  border-right: 1px solid #ccc;
  padding: 20px; 
}

.dev-p {
  margin: 20px 0; 
  line-height: 1.4; 
  text-align: center;
}

.dev-p p {
  margin: 0; 
}





.random-text {
  display: flex;
  width: 100%; 
  flex-direction: row; 
  align-items: center;
}

.r-i {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 300px;
  overflow: hidden;
}

.r-i img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;

}

.r-t {
  width: 50%;
 
}


.tools {
  width: 80%;
  margin-left: 100px;
  margin-top: 50px;
}


/************************************************************************************/

.image-list-item {
  position: relative;
  overflow: hidden;
}

.image-container {
  width: auto;
  height: auto;
}

.list-image {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  border-radius: 7%;
}

.image-overlay {
  border-radius: 7%;
  position: absolute;
  width: 100%;
  height: 100%;
  background:linear-gradient(transparent, rgba(0,0,0,1) );
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.image-text {
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;

  color: white;
  font-size: 14px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.image-container:hover .list-image {
  opacity: 0.7;
}

.image-container:hover .image-overlay {
  opacity: 1;
}

.image-container:hover .image-text {
  opacity: 1;
}
