body {
  background-color: #150050;
  
  font-family: 'Source Sans Pro',sans-serif

}


.logo2 {
  margin-top: 20px;
  width: 80px;
  height: 80px;
  border-radius: 10%;
  background-color: #610094;

}














.content {
  color: #f0f0f0;
  margin-top: 100px;
}


.content-left {
  width: 50%;
  align-items: center;
  margin-left: 10%;
}

.btn-cv {
  position: absolute;
  left: 70%;
  top: 90%;
}

.img1 {
  position: absolute;
  height: 60%;
  left: 60%;
  top: 20%;
  z-index: 0;
  border-radius: 25%;
  width: auto;
}

.about-header {

  font-size: 200px;
  margin: 0;

}


@media (max-width: 768px) {
  .content-left {
    width: 100%;
    margin-left: 0;
  }

  .btn-cv {
    position: static;
    margin-top: 20px; 
  }

  .img1 {
    position: static;
    width: 100%;
    left: 0;
    top: 0;
    margin-top: 20px; 
    border-radius: 0; 
  }
  .about-header {
    padding-left: 10%;
    font-size: 100px;
    margin: 0;
  
  }

  .about-p {
    padding-left: 18%;
  }

  .about-h3 {
    padding-left: 10%;
  }
}


.btn-cv a {
  text-decoration: none;
  color: blanchedalmond;
}




.about-h3 {
  font-size: 30px;

}

.about-p {
  margin-top: 50px;
  font-size: 20px;
  margin-bottom: 8%;
  margin-right: 80px;


}





.tools {
  width: 80%;
  margin-left: 100px;
  margin-top: 50px;
}



