body {
  background-color: black;

}

.nav {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  height: 50px;
  color: #fff;
}

.navbar-right {
  padding-left: 20px;
  display: flex;
  justify-items: center;

}

.navbar-right a,
.navbar-right-dropdown a {
  font-size: 2.5vw;
  font-weight: bold;
  padding-left: 30px;
  text-decoration: none;
  color: #fff;
}


.navbar-right-dropdown {
  display: none;
}


.visible {
  display: none !important;
}

.menu-icon {
  display: none;
}

.navbar-right a:hover {
  color: aqua;
  text-decoration: underline;
}


.active {
  color: aqua !important;
}

@media (max-width: 1200px) {

  .navbar-right {
    display: none;
  }

  .menu-icon {
    display: flex;

  }

  .navbar-right-dropdown {



    font-size: 2.5vw;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    background-color: #333;
    margin: 5px;
    padding: 10px;
  }

  .navbar-right-dropdown a:hover {

    color: aqua;
    text-decoration: underline;
  }
}


.logo {
  width: 50px;
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.social-icon {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

.background-container {
  position: relative;
  background-image: url("/public/background imag 1.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-container::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.text-overlay {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.text-overlay h1 {
  font-size: 10rem;
  margin: 10px;

}

.text-overlay p {
  font-size: 2rem;
}


/* footer */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 5;
}

.left {
  flex: 1;
  text-align: left;
}

.center {
  flex: 1;
  text-align: center;
}

.right {
  padding-right: 30px;
  flex: 1;
  text-align: right;
}

.right a {
  text-decoration: none;
  color: wheat;
  font-weight: bold;

}

.scroll-to-top {

  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  background-color: wheat;


}

.center {
  flex: 1;
  text-align: center;
  position: relative;
}

.scroll-to-top {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.arrow-to-top {
  background-color: #333;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;

}


.projects-grid {
  background-color: #fff;
  width: 100%;

}


.header_projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.line {
  width: 100%;
  border-top: 2px solid #661111; /* Postavite željenu boju i debljinu linije */
  position: absolute;
  top: 50%; /* Postavite liniju na sredinu */
  z-index: 0; /* Postavite niži sloj kako bi naslov bio iznad linije */
}

.header_projects h3 {
  background-color: #fff; /* Prilagodite boju pozadine prema vašim željama */
  padding: 0 20px; /* Dodajte željeni razmak oko naslova */
  position: relative; /* Ponovno postavite relativnu poziciju kako bi naslov bio iznad linije */
}

/*  projekti grid   */

.container {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.box {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f0f0f0;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.2s;
  cursor: pointer;
}

.box:hover {
  transform: scale(1.05);
}

.box img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
}



.box a {
  text-decoration: none;
  color: #0074e1;
  transition: color 0.2s;
}

.box a:hover {
  color: #0055a5;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.box:hover .overlay {
  opacity: 1;
  /* Prikazivanje sloja kada se hovera nad slikom */
}

.overlay p {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}



/* footer projects  */ 

.footer_projects {
  background-color: #fff; /* Postavite bijelu pozadinu */
  text-align: center; /* Centrirajte tekst horizontalno */
  padding: 20px; /* Dodajte željeni razmak oko teksta */
  margin-bottom: 50px;
}

.footer_projects p {
  margin: 0; /* Uklonite vanjski margine oko teksta */
}

.footer_projects a {
  text-decoration: none;
  color: #0074e1; /* Prilagodite boju poveznice */
  transition: color 0.2s;
}

.footer_projects a:hover {
  color: #0055a5; /* Prilagodite boju poveznice na hover */
}



/* contact home page*/


/* Stil za logo i tekst u sredini */
.intro_to_contact {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center; /* Dodano za centriranje horizontalno */
  text-align: center;
  position: relative;
}

.intro_to_contact img {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #ccc; /* Linija koja prolazi kroz logo */
}


.intro_to_contact .line {
  width: 100%;
  border-top: 2px solid #661111; /* Postavite željenu boju i debljinu linije */
  position: absolute;
  left: 0; /* Počinje od lijeve strane */
  right: 0; /* Završava na desnoj strani */
  z-index: -1; /* Postavite niži sloj kako bi naslov bio iznad linije */
}

/* Stil za tekst unutar .text */
 .text {
  display: flex;
  justify-content: center;
  color: #fff;
  margin: 20px;
}

/* Stil za sekciju za kontakt na sredini */
.contact_section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 400px; /* Prilagodite visinu prema potrebama */
  margin-bottom: 100px;
}

.contact_form {
  width: 600px;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.contact_form h2 {
  margin: 0 0 20px;
}

.form-row {
  display: flex;
  justify-content: space-between; /* Postavlja "Name" i "Email" jedno pored drugog */
}

.form-group {
  width: 100%;
  flex: 1;
  margin-bottom: 20px;
}

textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;

}

label {
  display: block;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
}

input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}



button {
  background-color: #0074e1;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0055a5;
}


/* about  */


.content {
  color: #f0f0f0;

  margin-top: 100px;
}

.content-left {
  width: 50%;
  align-items: center;
margin-left: 10%;

}

.content-right {


}

.about-header {

  font-size: 200px;
  margin: 0;

}

.about-h3 {
  font-size: 80px;

}

.about-p {
  font-size: 30px;


}

.img1 {

  position: absolute;
  width: 30%;
  left: 60%;
  top: 20%;
  z-index: -1;
  border-radius: 25%;
  
  height: 60%;
}


.skils {

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 400px; /* Prilagodite visinu prema potrebama */
  margin-bottom: 100px;  
  color: #f0f0f0;
  flex-direction: column;
}


